cache/
out/
node_modules/
artifacts/
typechain-types/
gasReporterOutput.json
.DS_Store
coverage.json
coverage/
typechain/
.env

# Foundry files
forge-cache/
!/broadcast
/broadcast/*
/broadcast/*/31337/
